<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="trip/styles.css"/>
<title> Make your journey </title>
    </head>
    <body>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
