<!DOCTYPE html>
<html>
    <head>
<title> Register here </title>
    </head>
    <body>
        <form action="">
            {% csrf_token %}
                {{ form }}
            <input type="submit" value="Submit">
        </form>
       
    </body>
</html>